/* I plan to transform the SKILLS section to a more visually appealing react skills bar with percentages */
.viewResume {
    background-color: #9cdde7;
    text-align: center;
    margin: auto;
}

.skill {
    list-style-type: none;
    padding: .5%;
    text-align: center;   
}

.skillHeader {
    font-weight: bold;
    margin-top: 12px;
}

.resumeLink {
    margin: auto;
    padding: 0;  
    color: #2a728f;
}

  
.resumeLink:hover {
    color: gray;
  }

.resSkill {
    text-decoration: underline;
    margin: auto;
} 

.resumeContainer {
    text-align: center;
    width: 100%;
}

.resumeText {
    margin-top: 20px;
    padding-bottom: 30px;
    font-size: 1.25rem;  
}

/* MEDIA QUERIES */
@media only screen and (min-width: 280px) and (max-width: 487px) {

}


@media only screen and (min-width: 488px) and (max-width:930px) {

}