.App {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body, #app, #app>div {
  height: 100%;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

.container {
  width: 200%;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 280px) and (max-width: 487px) {

}


@media only screen and (min-width: 488px) and (max-width:930px) {

}


